
    <div class="post-item">
        <div class="post-img">
            <img src="<%= post.image %>" alt="post img">
        </div>
        <div class="post-description">
            <div class="post-title">
                <a href="/post-page/<%= post._id%>">
                    <h1>
                        <%= post.postTitle %>
                    </h1>
                </a>

                <div class="post-btns">
                    <% if(String(post.author.id) === String(user._id)) { %>
                        <a onclick="deletePost('<%=post._id%>', '<%=post.author._id%>')" class="btn delete">Delete</a>
                        <a href="/edit/<%= post.id %>" class="btn edit">Edit</a>
                    <% } else { %>
                        <div></div>
                    <% }%>
                </div>
            </div>
            <p><%= post.postDescription %> </p>
           
        </div>
        <div class="post-user-actions"> 
            <div>
                <img src="/image/icons/date.svg" alt="date">
                <div class="curren-date">
                    02.11.2024
                </div>
            </div>
            <div>
                <img src="/image/icons/visibility.svg" alt="">
                <div>
                    21
                </div>
            </div>
            <div>
                <img src="/image/icons/message.svg" alt="">
                <div>
                    4
                </div>
            </div>
            <div>
                <img src="/image/icons/forums.svg" alt="">
                <div>
                    <%= post.postCategory.name %>
                </div>
            </div>
            <div>
                <img src="/image/icons/person.svg" alt="">
                <div>
                    <%= post.author.full_name %>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js" integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/deletePost.js"></script>
    </div>
