<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Edit Post'}) %>
<body>
    <div class="base-width profile-page">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="new-post-page base-right-left-padding">
            <div class="new-post-container  main-container">
                <h1 class="sections-header">
                    Редактировать блог
                </h1>
                <form 
                    class="new-post-form" 
                    action="/api/new"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <fieldset class="fieldset_categories">
                        <label for="">Введите заголовок блога</label>
                        <select name="postCategory" id="">
                            <% categories.forEach(category => { 
                                if(category._id == post.category)
                            %>
                                <option value="<%= category._id %>">
                                    <%= category.name %>
                                </option>
                            <% }) %>
                        </select>
                    </fieldset>
                    <fieldset class="fieldset_title">
                        <label for="">Введите название блога</label>
                        <input type="text" value="<%= post.postTitle %>" name="postTitle">
                    </fieldset>
                    <fieldset class="fieldset_image">
                        <label for="">Выберите картинку</label>
                        <input type="file" name="image">
                    </fieldset>

                    <div class="">
                        <textarea 
                            class="custom-input" 
                            placeholder="Введите описание блога" 
                            name="postDescription">
                        </textarea>
                    </div>
                    <button type="submit" class="create-new-post">
                        Редактировать 
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>