<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'Home'}) %>
<body>
    <main class="base-width">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="main-container">
            <div class="content">
                <div class="post-container">
                    <%- include('./partials/sectionsHeader.ejs', {
                        title: 'Блоги по программированию', 
                        description: 'Популярные и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.'
                    }) %>
                    <div class="posts-list">
                        <% posts.forEach(post => { %>
                            <%- include('./partials/postItem.ejs', {post}) %>
                        <% }) %>
                        <div class="pages">
                                <a href=""><%= locals.category%></a>
                            <% 
                                let localsStrings = ''
                                if(locals.postCategory) {
                                    localsStrings = `postCategory=${locals.postCategory}&`
                                }
                                if(locals.search) {
                                    localsStrings = `search=${locals.search}&`
                                }
                                for(let i = 0; i < pages; i ++) { 
                            %>
                                <a href="?<%=localsStrings%>page=<%= i %>"><%= i + 1 %></a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="side-bar">
                    <%- include('./partials/sectionsHeader.ejs', {title: 'Категории', description: ''}) %>
                    <ul class="link-list">
                        <% categories.forEach(category => { %>
                            <%- include('./partials/categories.ejs', {category}) %>
                        <% }) %>
                    </ul>

                </div>
            </div>
        </div>
    </main>
</body>
</html>