<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'User Profile'}) %>
<body>
    <div class="base-width profile-page">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="profile-container main-container">
            <div class="post-container">
                <div class="profile-pge-header sections-header">
                    <h1 class="">Мои блоги</h1> 
                    <a href="">
                        <button class="new-blog-btn">
                            Новый блог
                        </button>
                    </a>
                </div>
                <div class="posts-list">
                    <%- include('./partials/postItem.ejs', {image: '/image/posts/post001.png'}) %>
                    <%- include('./partials/postItem.ejs', {image: '/image/posts/post002.png'}) %>
                </div>
            </div>
            <div class="side-bar">
                <div class="user-info">
                    <%- include('./partials/userLogo.ejs', {image: '/image/user-photo/user-logo.png', link: ""}) %>
                    <h3 class="user-name"><%= user.full_name %></h3>
                    <p class="about-user">В основном пишу про веб - разработку, на React & Redux</p>
                    <p class="post-item-count">285 постов за все время</p>
                    <% if(loginUser._id == user._id) { %>
                        <a href="/edit" class="edit-btn btn">Редактировать</a>
                        <a href="/api/signout" class="logout-btn btn">Выход</a>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
</body>
</html>